* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  .admin-content {
    background: #ffffff;
    border-radius: 8px;
    align-self: center;
  }
  
  .user-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-actions {
    text-align: right;
  }
  
  .btn-reset,
  .btn-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 12px;
  }
  
  .btn-reset {
    background-color: #d9534f;
    color: white;
  }
  
  .btn-submit {
    background-color: #5cb85c;
    color: white;
  }
  
  .btn-reset:hover,
  .btn-submit:hover {
    opacity: 0.8;
  }
  
  .current-user-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-id,
  .user-name {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
  }

  .current-user-details {
    background-color: #e9ecef;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .current-user-details h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .user-detail {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
 
  
 
  .form-actions {
    text-align: center;
    margin-top: 20px;
  }
  
 
  .btn-reset,
  .btn-submit {
    display: inline-block;
    width: auto;
    margin-right: 10px;
  }
  
  .btn-reset:last-child,
  .btn-submit:last-child {
    margin-right: 0;
  }

  


.products-table {
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  display: flex;
  min-height: 100vh;
  min-width: 10vw;
  background-color: #f4f4f4;
  justify-content: center;
}


